@using BlazorEcommerce.Client.Shared.Components.Common
@using BlazorEcommerce.Shared;


@inject IProductService productService;
@inject NavigationManager navigationManager;

@if (productService.Products == null || productService.Products.Count == 0)
{
    <LoadingSpinner Text="Loading product list" />
}
else
{
    <div>
        <MudList>
            @foreach (var product in productService.Products)
            {
                string detailLink = $"/product/{product.Id}";

                <MudListItem>
                    <MudCard>
                        <MudCardContent Class="media">
                            <a href="@detailLink">
                                <MudImage Src="@product.ImageUrl" Class="rounded-lg media-img" Alt="@product.Title" />
                            </a>
                            
                            <div class="media-body">
                                @*<MudLink OnClick="() => GoToProduct(product.Id)" Typo="Typo.h4">@product.Title</MudLink>*@
                                <MudLink Href="@detailLink" Typo="Typo.h4">@product.Title</MudLink>
                                <MudDivider Style="margin-bottom: 15px" />
                                <MudText Typo="Typo.subtitle1">@product.Description</MudText>
                                <MudText Typo="Typo.h5" Class="price">£@product.Price</MudText>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudListItem>
            }
        </MudList>
    </div>
}




@code {

    protected override async Task OnInitializedAsync()
    {
        await productService.GetProducts();

    }

    private void GoToProduct(int id)
    {
        navigationManager.NavigateTo($"/product/{id}");
    }

}
