@using BlazorEcommerce.Client.Shared.Components.Common
@using BlazorEcommerce.Shared;


@inject IProductStore productStore;
@inject NavigationManager navigationManager;

@implements IDisposable

@if (productStore.Products == null || productStore.Products.Count == 0)
{
    <LoadingSpinner Text="@productStore.Message" />
}
else
{
    <div>
        <MudList>
            @foreach (var product in productStore.Products)
            {
                string detailLink = $"/product/{product.Id}";

                <MudListItem>
                    <MudCard>
                        <MudCardContent Class="media">
                            <a href="@detailLink">
                                <MudImage Src="@product.ImageUrl" Class="rounded-lg media-img" Alt="@product.Title" />
                            </a>
                            
                            <div class="media-body">
                                @*<MudLink OnClick="() => GoToProduct(product.Id)" Typo="Typo.h4">@product.Title</MudLink>*@
                                <MudLink Href="@detailLink" Typo="Typo.h4">@product.Title</MudLink>
                                <MudDivider Style="margin-bottom: 15px" />
                                <MudText Typo="Typo.subtitle1">@product.Description</MudText>
                                <MudText Typo="Typo.h5" Class="price">@GetPriceText(product)</MudText>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudListItem>
            }
        </MudList>
        <MudPagination Color="Color.Primary" @ref="selectedPage" Count="@productStore.PageCount" SelectedChanged="() => OnPaginationSelectionChanged()" />
    </div>
}


@code {
    MudPagination selectedPage;

    public void OnPaginationSelectionChanged()
    {
        var pageNo = selectedPage.Selected;
        navigationManager.NavigateTo($"/search/{productStore.LastSearchText}/{pageNo}");
    }

    protected override void OnInitialized()
    {
        productStore.ProductsChanged += StateHasChanged;

    }

    public void Dispose()
    {
        productStore.ProductsChanged -= StateHasChanged;
    }

    private void GoToProduct(int id)
    {
        navigationManager.NavigateTo($"/product/{id}");
    }

    private string GetPriceText(Product product)
    {
        var variants = product.Variants;

        if (variants.Count == 0)
        {
            return string.Empty;
        }
        else if (variants.Count == 1)
        {
            return $"£{variants[0].Price}";
        }
        else
        {
            decimal minPrice = variants.Min(v => v.Price);
            return $"Starting at £{minPrice}";
        }
    }

}
