@page "/product/{id:int}"

@using BlazorEcommerce.Client.Shared.Components.Common

@inject IProductStore productStore

@if (product == null)
{
    <LoadingSpinner Text="@message" />
}
else
{
    <div>
        <MudCard>
            <MudCardContent Class="media">

                <MudImage Src="@product.ImageUrl" Class="rounded-lg media-img" Alt="@product.Title" />

                <div class="media-body">
                    <MudText Typo="Typo.h4">@product.Title</MudText>
                    <MudDivider Style="margin-bottom: 15px" />
                    
                    <MudGrid>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">@product.Description</MudText>
                        </MudItem>
                        <MudItem xs="6">
                            @if (product.Variants != null && product.Variants.Count > 1)
                            {

                                <MudSelect T="int" Label="" Variant="Variant.Filled" @bind-Value="currentTypeId" AnchorOrigin="Origin.BottomCenter" Class="variant-select">
                                    @foreach (var variant in product.Variants)
                                    {
                                        <MudSelectItem Value="@variant.ProductTypeId">@variant.ProductType.Name</MudSelectItem>
                                    }
                                </MudSelect>

                            }
                            @if (GetSelectedVariant() != null)
                            {
                                @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
                                {
                                    <MudText Typo="Typo.h6" Class="original-price">£@GetSelectedVariant().OriginalPrice</MudText>

                                }
                                <MudText Typo="Typo.h4">£@GetSelectedVariant().Price</MudText>
                            }
                        </MudItem>
                    </MudGrid>



                </div>
            </MudCardContent>
        </MudCard>
    </div>

}

<link href="../Pages/ProductDetails.razor.css" rel="stylesheet" type="text/css" />


@code {
    private Product? product = null;
    private string message = string.Empty;
    private int currentTypeId = 1;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {

        message = "Loading product";

        var result = await productStore.GetProductById(Id);

        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;

            if (product.Variants.Count > 0)
            {
                currentTypeId = product.Variants[0].ProductTypeId;
            }
        }

    }

    private ProductVariant GetSelectedVariant()
    {
        var variant = product.Variants.FirstOrDefault(v => v.ProductTypeId == currentTypeId);
        return variant;
    }


}
